@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Raleway:ital,wght@0,100;0,400;0,600;0,700;1,100;1,200;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  min-width: 120rem;
  margin: 0 auto;
}